/* Reset basic spacing */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Body styling */
body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    padding: 20px;
    color: #333;
}
/* Make your headings look good */
body {
    background: lightblue;
}
h1 {
    font-size: 32px;
    text-align: center;
    color: #2b6cb0;
    margin-bottom: 20px;
}
h2{
    font-size: 24px;
    color: #2d3748;
    text-align: center;
}
.round-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 20px auto;
    border: 3px solid #4c9f70;
.round-img {
    animation: spin 10s linear infinite;
}
}
@keyframes spin {
    from {transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg)}
}
body {
    animation: slide 10s infinite alternate ease-in-out;
}
@keyframes slide {
    from {transform-translatex(0);}
    to { transform: translateX(20px);}
}
.fade-in {
    opacity: 0;
    transform: translateY(20px);
}

.footer {
    background-color: #2c3e50;
    color: white;
    padding: 30px;
    margin-top: 40px;
    font-family: Arial, sans-serif;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
}
.footer-section {
    margin: 10px;
    width: 250px;
}
.footer-section h3,
.footer-section h4 {
    margin-bottom: 10px;
}
.social-link {
    color: #00ff9d;
    text-decoration: none;
    font-weight: bold;
}
.social-link:hover {
    text-decoration: underline;
}
.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #ffffff33;
    margin-top: 20px;
    font-size: 14px;
}
