{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/severio.css'%}">
        <script src="{% static 'js/script.js' %}"></script>
    <title>About Us - Guiding and Counseling</title>

</head>
<body>
<nav>
<ul>
    <li><a href="{% url 'home'%}">home</a></li>
    <li><a href="{% url 'about'%}">about</a></li>
    <li><a href="{% url 'contact'%}">contact</a></li>
    <li><a href="{% url 'services'%}">services</a></li>




</ul>
    </nav>
<img src="{% static 'images/image2.jpg' %}"
     class="round-img spin-img">


<header>
    <h1>About Counseling Services</h1>
    <p>Your mental and emotional being is my priority.</p>
</header>
<section>
    <h2>Who I am</h2>
    <p>I am passionate about helping individuals to overcome personal,emotional,social and professional support clients in need of guidance throughout different stages of life.</p>
    <h2>My Mission</h2>
    <p>My mission is to empower individuals by providing a safe space where they can express themselves freely,understand their struggles and find meaningful solutions.I aim at promoting mental well-being,personal growth and emotional resilience.</p>
    <h2>MY Vision</h2>
        <p>I envision a community where mental health is valued,emotional struggle are openly discussed and every individual receives the support they need to thrive in their personal,academic and social life.</p>
<h2>My core Values</h2>
    <p>
    <strong>Confidentiality:</strong> I respect your privacy,everything shared remains protected. <br><br>
    <strong>Compassion:</strong> I approach each client with kindness,empathy and understanding. <br><br>
    <strong>Professionalism:</strong> All my services follow ethical guidelines and high counseling standards. <br><br>
    <strong>Non-judgement:</strong> You are free to express yourself without fear of being <br><br>
    <strong>Integrity:</strong> I am commited to honesty,trust and doing what is best for my clients.
</p>
</section>


<footer class="footer">
    <div class="footer-container">

        <div class="footer-section">
            <h3>Guiding and counseling</h3>
            <p>Supporting emotional wellness,personal growth and mental clarity.</p>
        </div>

        <div class="footer-section">
            <h4>Contact Information</h4>
            <p>0746642896</p>
            <p>purityseverio@gmail.com</p>
            <p> Nairobi,Kenya</p>
            <div class="footer-section">
                <h4>Connect with me</h4>
                <p>
                            <a href="https://wa.me/254746642896"
            target="_blank" class="social-link">Whatsapp Chart</a>
                </p>

            </div>

        </div>

    </div>
    <div class="footer-bottom">
        @ 2025 Guiding and Counseling.All rights reserved.
    </div>
</footer>

</body>
</html>